body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

.container {
	width: 75%;
	margin: auto;
}

nav {
	height: 4em;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2em;
}

.stripes {
	color: white;
	height: 100vh;
    background: -webkit-linear-gradient(78deg, rgba(117,54,205), rgba(117,54,205) 20%, rgba(116,78,212) 20%, rgba(116,78,212) 60%, rgba(116,114,220) 60%, rgba(116,114,220) 85%, white 85%, white 100%);
    background: -o-linear-gradient(78deg, rgba(117,54,205), rgba(117,54,205) 20%, rgba(116,78,212) 20%, rgba(116,78,212) 60%, rgba(116,114,220) 60%, rgba(116,114,220) 85%, white 85%, white 100%);
    background: linear-gradient(168deg, rgba(117,54,205), rgba(117,54,205) 20%, rgba(116,78,212) 20%, rgba(116,78,212) 60%, rgba(116,114,220) 60%, rgba(116,114,220) 85%, white 85%, white 100%);
}

#landing li button {
	font-size: .8em;
}

#landing  nav {
	justify-content: space-between;
}

nav h5, ul {
    margin-block-end: 2%;
}

ul {
	list-style-type: none;
	display: flex;
	padding-inline-start: 0px;
}

.nav-item {
    margin-left: 1em;
}

.nav-item {
	padding: .6em 1em;
	background-color: transparent;
}

#support {
	background-color: rgb(128,204,150);
	padding: .6em 2em;
	border-radius: .3em;
}

button#support:hover {
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}

header {
	width: 25em;
	text-align: center;
	margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
	font-size: 2.5em;
	width: 10em;
	margin: 0 auto;
}

h3 {
	font-weight: normal;
	color: #606060;
}

input[type=text] {
  width: 68%;
  padding: 12px 20px;
  margin: 20px 5px 0px 0px;
  display: inline-block;
  border: 1px solid rgb(116,114,220);
  border-radius: 7px;
  box-sizing: border-box;
  font-size: .8em;
}

input[type=text]:focus {
	outline: none;
}

input[type=submit] {
	width: 22%;
	background-color: rgb(128,204,150);
	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
	border-radius: 7px;
	border: 1px solid rgb(128,204,150);
	color: white;
	outline: none;
	cursor: pointer;
	font-size: .8em;
}

span.highlight-text {
	color: rgb(128,204,150);
}

.bottom-center {
	position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle.bottom-center {
	top: 90%;
}

#circle {
      width: 3em;
      height: 3em;
      background: rgb(128,204,150);
      background-image: url("assets/down_arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: none;
}

#section-2 {
	width: 50%;
	margin-top: 3em;
}

.text-center {
	text-align: center;
	margin: 0 auto;
}

.text-upcase {
	text-transform: uppercase;
}

.acct-button {
	background-color: rgba(116,114,220);
}

.acct-button:hover {
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

button {
	color: white;
	border-radius: .7em;
	border: none;
	padding: .6em 2em;
	cursor: pointer;
}

button:hover {
	transition: all 0.3s ease 0s;
	transform: scale(0.97);
}

#services {
	margin-top: 4em;
	width: 100%;
}

#services ul {
	margin-top: 2em;
}

.line {
	margin-top: .5em;
    height: .15em;
    width: 3em;
    background: #000;
    border-radius: 1em;
}

.flex-container {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
	
}

.flex-item {
	width: 49%;
	height: 8em;
	border-radius: .2em;
	border: 1px solid rgb(241,243,247);
	text-align: left;
	background-color: rgb(252,252,253);
}

li.flex-item h6 {
	margin: 2.5em 1em 0 100px;

}

li.flex-item p {
	font-size: .7em;
	margin: .5em 1em 3em 100px;
}


.services-image {
	background-repeat: no-repeat;
	background-size: 5em;
    background-position-y: center;
}

#web-hosting {
	background-image: url("assets/webhosting.png");
}

#resllers {
	background-image: url("assets/resellers.png");
}

#vps {
	background-image: url("assets/vps.png");
}

#cloud {
	background-image: url("assets/cloud.png");
}

.contact-button {
	background-color: white;
	color: #606060;
	border: .5px solid #f3f3f3;
}

.contact-button:hover {
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

#last-call-to-action h3:nth-child(2) {
	margin-top: 0;
	color: rgb(116,78,212);
	font-weight: bold;
}

#last-call-to-action h3:nth-child(1) {
	margin-bottom: 0.3em;
	color: rgb(116,114,220);
}

#last-call-buttons {
	margin-top: 2em;
}

footer {
	background-color: rgb(116,114,220);
	color: white;
}

footer ul {
	flex-direction: column;
	padding-top: 3em;
	padding-bottom: 3em;
}

address {
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
}

footer h6 {
	margin-block-start: 0;
    margin-block-end: 1em;
}

footer div {
	margin-block-start: 1.5em;
    margin-block-end: 1em;
	font-size: .6em;
}

li.icon img {
	height: 2em;
	width: 2em;
	padding-right: 5px;
}

/* ------- media queries ---------*/

@media only screen and (min-width: 200px) and (max-width: 739px) {
	footer li#social {
	display: flex;
	width: 50%;
}
}

@media only screen and (min-width: 200px) and (max-width: 868px) {
.container {
	width: 100%;
}

.flex-item {
	width: 100%;
	margin: 1%;
}

#landing h5 {
	text-align: center;
    width: 100%;
}

#landing ul {
	margin: 0 auto;
}

#last-call-to-action li {
	width: 100%;
	text-align: center;
}

#last-call-buttons {
     margin-top: 0; 
     margin-bottom: 2%;
}

footer li {
	
	margin: 0 auto;
	padding-top: 5%;
}

footer div {
	margin-block-start: 0;
}

footer li#social div {
	margin: 0 auto;
}

}

@media only screen and (min-device-width: 200px) and (max-device-width: 868px) and (-webkit-min-device-pixel-ratio: 2) {
.container {
	width: 100%;
}

#landing li button {
    font-size: .7em;
}

.nav-item {
	margin-left: 0;
}

.flex-item {
	width: 100%;
	margin: 1%;
}

#landing h5 {
	text-align: center;
    width: 100%;
}

#landing ul {
	margin: 0 auto;
}

#last-call-to-action li {
	width: 100%;
	text-align: center;
}

#last-call-buttons {
     margin-top: 0; 
     margin-bottom: 2%;
}

footer li {
	
	margin: 0 auto;
	padding-top: 5%;
}

footer div {
	margin-block-start: 0;
}

footer li#social div {
	margin: 0 auto;
}

}
/* ----------- iPhone 5, 5S, 5C and 5SE, 6, 6s,7,8 ----------- */
/*@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	button#support:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	transition: none;
	}
}*/