.container {
	width: 75%;
	margin: auto;
}

nav {
	height: 4em;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2em;
}

.stripes {
	color: white;
	height: 100vh;
    background: -webkit-linear-gradient(75deg, rgba(117,54,205), rgba(117,54,205) 30%, rgba(116,78,212) 30%, rgba(116,78,212) 70%, rgba(116,114,220) 70%, rgba(116,114,220) 90%, white 90%, white 100%);
    background: -o-linear-gradient(75deg, rgba(117,54,205), rgba(117,54,205) 30%, rgba(116,78,212) 30%, rgba(116,78,212) 70%, rgba(116,114,220) 70%, rgba(116,114,220) 90%, white 90%, white 100%);
    background: linear-gradient(165deg, rgba(117,54,205), rgba(117,54,205) 30%, rgba(116,78,212) 30%, rgba(116,78,212) 70%, rgba(116,114,220) 70%, rgba(116,114,220) 90%, white 90%, white 100%);;
}

nav h5, ul {
	margin-block-start: 2%;
    margin-block-end: 2%;
}

ul {
	list-style-type: none;
	display: flex;
}

ul li {
    margin-left: 1em;
}

.nav-item {
	border: none;
	color: white;
	padding: .6em 1em;
	border-radius: .2em;
	background-color: transparent;
}

#support {
	background-color: rgb(128,204,150);
	padding: .6em 2em;
}

header {
	width: 25em;
	text-align: center;
	margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
	font-size: 2.5em;
	width: 8em;
	margin: 0 auto;
}

input[type=text] {
  width: 68%;
  padding: 12px 20px;
  margin: 20px 5px 0px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
}

input[type=submit] {
	width: 28%;
	background-color: rgb(128,204,150);
	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
	border-radius: 7px;
	color: white;
}

span.highlight-text {
	color: rgb(128,204,150);
}

.bottom-center {
	text-transform: uppercase;
	position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle.bottom-center {
	top: 90%;
}

#circle {
      width: 4em;
      height: 4em;
      background: rgb(128,204,150);
      background-image: url("noun_down_arrow.svg");
      background-position: center;
      color: white;
      border-radius: 50%;
    }